.container {
    text-align: center;
    display: flex;
    justify-content: center;
}
.logo{
    display: flex;
    justify-self: center;
    width: 60vw;
    padding: 10%;
}
.loginbox {
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
}
.loginbox input {
    padding: 5px 10px;
    border-style: none;
    border-bottom: solid grey;
    background: none;
    margin: 1% auto;    
}
button{
    padding: 5px 55px;
    margin: 2% auto;
    background: none;
    border-style: none;
    background-image: url('./images/marge-botton.png');
    background-repeat: no-repeat;
    
}
.btnResgistrate {
    padding: 5px 48px;
    margin: 2% auto;
    background: none;
    border-style: none;
    background-image: url('./images/marge-botton.png');
    background-repeat: no-repeat;
}