nav {
    background-color: sandybrown;
    margin: 0% 6%;
}
.browserNav {
    display: flex;
}
.mobileNav {
    display: none;
}
nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 1% 2%;    
}
nav ul li {
    list-style: none;
    padding: 10px;
}
nav ul li a {
    color: black;
    text-decoration: none;
    list-style: none;
    padding: 5px 10px;
}
nav ul li:hover{
    background-color: rgb(250, 182, 123);
}
.navIcon {
    max-width: 30%;
}
@media (max-width: 870px){
   .mobileNav{
       display: flex;

   }
   nav ul {
       display: flex;
       justify-content: flex-end;   
   }
    nav ul li {
      padding: 5px
   }
   .browserNav {
       display: none;
   }
}