* {
    margin: auto;
    text-align: center;    
}

.container {
    background-color: bisque;
    background-image: url('./components/images/background.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center top;      
}