.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    background-color: bisque;
    background-image: url('./components/images/background.png');
    background-size: 90vw;
    background-repeat: no-repeat;
    background-position: center top;
}